.input__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: var(--background-gray);
  border: 1px solid var(--primary-gray);
  transition: 0.4s;
}

.input__wrapper.error {
  border-color: var(--red);
}

.input__wrapper:focus-within {
  border: 1px solid var(--green-light);
}

.input__wrapper svg {
  margin-left: 1rem;
}

.input__wrapper path {
  fill: var(--gray-icon);
}

.input {
  color: var(--white);
  background-color: transparent;
  outline: none;
  border: none;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
}

.input::placeholder {
  color: var(--placeholder);
  font-size: 1rem;
}
