.statistics__page-money-card .money__card {
  margin-top: -4rem;
}
.money__card {
  border-radius: 0.4rem;
  padding: 1.5rem 2rem;
  background-color: var(--thirdly-gray);
}

.money__card.total {
  background-color: var(--green-dark);
}

.money__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.money__card-type {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--base-text);
}

.money__card-money {
  font-size: 2rem;
  color: var(--title);
  position: relative;
  margin-top: 0.8rem;
  flex-grow: 1;
  margin-right: 0.3rem;
}

.total .money__card-money.loading::after {
  background: linear-gradient(to right, var(--green-dark), var(--green-light), var(--green-dark));
  background-size: 300%;
}

.money__card-money.loading::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 4;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  background-size: 300%;
  border-radius: 0.4rem;
  background: linear-gradient(
    to right,
    var(--primary-gray),
    var(--thirdly-gray),
    var(--primary-gray)
  );
  background-size: 300%;
  animation: priceLoader infinite 3s;
}

.money__cards-footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.money__card-link {
  color: var(--placeholder);
  transition: 0.3s;
  opacity: 0;
  font-size: 0.79rem;
}

.money__card-link:hover {
  color: var(--base-text);
}

.money__card:hover .money__card-link {
  opacity: 100%;
}

@keyframes priceLoader {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media (max-width: 768px) {
  .money__card {
    padding: 1rem 1.5rem;
  }

  .money__card-money {
    font-size: 1.7rem;
  }
}
