.header {
  background-color: var(--background-gray);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1rem 7.6rem !important;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 425px) {
  .header__logo > span {
    display: none;
  }

  .header__new-transaction {
    font-size: 0.8rem;
  }
}
