.transaction__inline {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.5rem 2rem;
  background-color: var(--secondary-gray);
  border-radius: 0.3rem;
}

.transaction__title {
  grid-column: span 2;
  color: var(--base-text);
}

.transaction__price {
  text-align: end;
}

.transaction__price.income {
  color: var(--green);
}

.transaction__price.outcome {
  color: var(--red);
}

.transaction__date {
  color: var(--base-text);
  text-align: end;
}

.transaction__comment {
  color: var(--base-text);
}

@media (max-width: 425px) {
  .transaction__inline {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    padding: 1rem 1.5rem;
  }

  .transaction__title {
    grid-column: span 1;
  }

  .transaction__price {
    text-align: start;
    font-size: 1.4rem;
  }

  .transaction__title {
    font-size: 1.2rem;
  }

  .transaction__date {
    color: var(--placeholder);
  }
}
